In [32]:
#First things first, import all of the necessary packages
import pandas as pd
import numpy as np

#For the visualizations import:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#For Scikit-learn
import sklearn
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

#And for the statistical tests:
import scipy.stats as stats
import pylab
from statsmodels.formula.api import ols
import statistics

In [2]:
# Now lets import our dataset using the pd.read_csv function
churn_df = pd.read_csv('churn_clean.csv')

In [3]:
# To stay with best practices, we use the head function to look 
churn_df.head()

,CaseOrder,Customer_id,Interaction,UID,City,State,County,Zip,Lat,Lng,...,MonthlyCharge,Bandwidth_GB_Year,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
0,1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,e885b299883d4f9fb18e39c75155d990,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,...,172.455519,904.536110,5,5,5,3,4,4,3,4
1,2,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,f2de8bef964785f41a2959829830fb8a,West Branch,MI,Ogemaw,48661,44.32893,-84.24080,...,242.632554,800.982766,3,4,3,3,4,3,4,4
2,3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,f1784cfa9f6d92ae816197eb175d3c71,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,...,159.947583,2054.706961,4,4,2,4,4,3,3,3
3,4,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,dc8a365077241bb5cd5ccd305136b05e,Del Mar,CA,San Diego,92014,32.96687,-117.24798,...,119.956840,2164.579412,4,4,4,2,5,4,3,3
4,5,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,aabb64a116e83fdc4befc1fbab1663f9,Needville,TX,Fort Bend,77461,29.38012,-95.80673,...,149.948316,271.493436,4,4,4,3,4,4,4,5

In [4]:
# We notice that the columns for items1 through 8 could be named a bit more obviously. Lets change those names.
churn_df.rename(columns ={'Item1':'Timely_Response', 'Item2':'Timely_Fixes', 'Item3':'Timely_Replacements', 'Item4':'Reliablility', 'Item5':'Plentiful_Options', 'Item6':'Respectfullness', 'Item7':'Courteous_Exchanges', 'Item8':'Active_Listening'}, inplace=True)

In [5]:
# Lets pull the head of the dataframe again to make sure our changes went through.
churn_df.head()

,CaseOrder,Customer_id,Interaction,UID,City,State,County,Zip,Lat,Lng,...,MonthlyCharge,Bandwidth_GB_Year,Timely_Response,Timely_Fixes,Timely_Replacements,Reliablility,Plentiful_Options,Respectfullness,Courteous_Exchanges,Active_Listening
0,1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,e885b299883d4f9fb18e39c75155d990,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,...,172.455519,904.536110,5,5,5,3,4,4,3,4
1,2,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,f2de8bef964785f41a2959829830fb8a,West Branch,MI,Ogemaw,48661,44.32893,-84.24080,...,242.632554,800.982766,3,4,3,3,4,3,4,4
2,3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,f1784cfa9f6d92ae816197eb175d3c71,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,...,159.947583,2054.706961,4,4,2,4,4,3,3,3
3,4,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,dc8a365077241bb5cd5ccd305136b05e,Del Mar,CA,San Diego,92014,32.96687,-117.24798,...,119.956840,2164.579412,4,4,4,2,5,4,3,3
4,5,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,aabb64a116e83fdc4befc1fbab1663f9,Needville,TX,Fort Bend,77461,29.38012,-95.80673,...,149.948316,271.493436,4,4,4,3,4,4,4,5

In [6]:
#Okay now lets take a look at these binary (yes/no) and ordinal categorical varaibles. We can convert these 
#to numeric values to enable them to work with our model that we create.

#Convert the binary varibles
churn_df['DummyChurn'] = [1 if v == 'Yes' else 0 for v in churn_df['Churn']]

In [7]:
# Checking for Null Values to prevent
churn_df.isna().sum()

CaseOrder                  0
Customer_id                0
Interaction                0
UID                        0
City                       0
State                      0
County                     0
Zip                        0
Lat                        0
Lng                        0
Population                 0
Area                       0
TimeZone                   0
Job                        0
Children                   0
Age                        0
Income                     0
Marital                    0
Gender                     0
Churn                      0
Outage_sec_perweek         0
Email                      0
Contacts                   0
Yearly_equip_failure       0
Techie                     0
Contract                   0
Port_modem                 0
Tablet                     0
InternetService         2129
Phone                      0
Multiple                   0
OnlineSecurity             0
OnlineBackup               0
DeviceProtection           0
TechSupport                0
StreamingTV                0
StreamingMovies            0
PaperlessBilling           0
PaymentMethod              0
Tenure                     0
MonthlyCharge              0
Bandwidth_GB_Year          0
Timely_Response            0
Timely_Fixes               0
Timely_Replacements        0
Reliablility               0
Plentiful_Options          0
Respectfullness            0
Courteous_Exchanges        0
Active_Listening           0
DummyChurn                 0
dtype: int64

In [8]:
# Now lets Drop some of the columns that arent necessary.
churn_df = churn_df.drop(columns=['CaseOrder', 'Customer_id', 'Interaction', 'UID', 'City', 'State', 'County' , 'Zip' , 'Lat' , 'Lng' , 'Population', 'Area', 'TimeZone', 'Job', 'Marital', 'PaymentMethod'])

#Lets also drop the original categorical varible columns as well since we dont need them anymore
churn_df = churn_df.drop(columns=['Gender' , 'Churn' , 'Techie' , 'Contract' , 'Port_modem' , 'Tablet' ,'InternetService' , 'Phone' , 'Multiple' ,'OnlineSecurity' ,'OnlineBackup', 'DeviceProtection' ,'TechSupport' ,'StreamingTV', 'StreamingMovies', 'PaperlessBilling'])

In [9]:
#Lets pull the head function once more to verify that this step was completed
churn_df.head()

,Children,Age,Income,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,Tenure,MonthlyCharge,Bandwidth_GB_Year,Timely_Response,Timely_Fixes,Timely_Replacements,Reliablility,Plentiful_Options,Respectfullness,Courteous_Exchanges,Active_Listening,DummyChurn
0,0,68,28561.99,7.978323,10,0,1,6.795513,172.455519,904.536110,5,5,5,3,4,4,3,4,0
1,1,27,21704.77,11.699080,12,0,1,1.156681,242.632554,800.982766,3,4,3,3,4,3,4,4,1
2,4,50,9609.57,10.752800,9,0,1,15.754144,159.947583,2054.706961,4,4,2,4,4,3,3,3,0
3,1,48,18925.23,14.913540,15,2,0,17.087227,119.956840,2164.579412,4,4,4,2,5,4,3,3,0
4,0,83,40074.19,8.147417,16,2,1,1.670972,149.948316,271.493436,4,4,4,3,4,4,4,5,1

In [10]:
#Lets drop the last few additional columns that we dont need so that we have only the important ones  
churn_df = churn_df.drop(columns=['Timely_Response', 'Timely_Fixes', 'Timely_Replacements', 'Reliablility', 'Plentiful_Options', 'Respectfullness', 'Courteous_Exchanges', 'Active_Listening', 'Income', 'Outage_sec_perweek', 'Email', 'Contacts', 'Yearly_equip_failure'])

In [11]:
#Pull the head function one more time
churn_df.head()

   Children  Age     Tenure  MonthlyCharge  Bandwidth_GB_Year  DummyChurn
0         0   68   6.795513     172.455519         904.536110           0
1         1   27   1.156681     242.632554         800.982766           1
2         4   50  15.754144     159.947583        2054.706961           0
3         1   48  17.087227     119.956840        2164.579412           0
4         0   83   1.670972     149.948316         271.493436           1

In [12]:
# Now lets get a brief summary of the statistics  for our variables to get an idea of the dataset as a whole

#Age summary statistics
churn_df.Age.describe()

#The below shows the mean age is 53, with the youngest age being 18 and the oldest age being 89

count    10000.000000
mean        53.078400
std         20.698882
min         18.000000
25%         35.000000
50%         53.000000
75%         71.000000
max         89.000000
Name: Age, dtype: float64

In [13]:
#Churn summary statistics
churn_df.DummyChurn.value_counts()

#The the amount of customers that arent churning is 7350 and the amount that are churning away is 2650

DummyChurn
0    7350
1    2650
Name: count, dtype: int64

In [14]:
#Children summary statistics
churn_df.Children.describe()

#The below show s that the mean number of children is 2, the min is of course 0 and the max number is 10

count    10000.0000
mean         2.0877
std          2.1472
min          0.0000
25%          0.0000
50%          1.0000
75%          3.0000
max         10.0000
Name: Children, dtype: float64

In [15]:
#Tenure summary statistics
churn_df.Tenure.describe()

#The below shows the mean being at 34.53 with the min being at 1 and the max being at 72

count    10000.000000
mean        34.526188
std         26.443063
min          1.000259
25%          7.917694
50%         35.430507
75%         61.479795
max         71.999280
Name: Tenure, dtype: float64

In [16]:
#MonthlyCharge summary statistics
churn_df.MonthlyCharge.describe()

#The below shows the mean as $172.62 with the minimum amount being $42.00 94 and the max being 290

count    10000.000000
mean       172.624816
std         42.943094
min         79.978860
25%        139.979239
50%        167.484700
75%        200.734725
max        290.160419
Name: MonthlyCharge, dtype: float64

In [17]:
#Bandwidth_GB_Year summary statistics
churn_df.Bandwidth_GB_Year.describe()

#The below shows the mean as 3,392.34 GB used per year with the minimum amount being 155.51 and the max being  7,158.98

count    10000.000000
mean      3392.341550
std       2185.294852
min        155.506715
25%       1236.470827
50%       3279.536903
75%       5586.141370
max       7158.981530
Name: Bandwidth_GB_Year, dtype: float64

In [19]:
#Now lets save our newly prepared data
churn_df.to_csv('churn_prepared.csv')
df = churn_df.columns
print(df)

Index(['Children', 'Age', 'Tenure', 'MonthlyCharge', 'Bandwidth_GB_Year',
       'DummyChurn'],
      dtype='object')

In [20]:
#Now lets split the data into training and test sets

#Set the independent variables as my X
X = churn_df[['Children', 'Bandwidth_GB_Year', 'Age', 'Tenure', 'MonthlyCharge']]

#Set my Target variable as my y
y = churn_df[['DummyChurn']]

In [21]:
#Now lets perform the split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [22]:
#Now lets export the test and train datasets
X_train.to_csv('X_train_df.csv')

In [23]:
#X_test
X_test.to_csv('X_test_df.csv')

In [24]:
#y_train
y_train.to_csv('y_train_df.csv')

In [25]:
#y_test
y_test.to_csv('y_test_df.csv')

In [26]:
#Now that the data is split, lets create the Decision Tree Model

#First lets intialize the model
model = DecisionTreeClassifier(random_state=42)

In [27]:
#Next we fit the decision tree to our training data
model.fit(X_train, y_train)

DecisionTreeClassifier(random_state=42)

In [28]:
#After this we can use the now trained model to make predictions on our test data
y_pred = model.predict(X_test)

In [30]:
#Lastly, lets get some accuracy scores to see how our model performs

#The Test Accuracy score
model.score(X_test, y_test)

0.7833333333333333

In [31]:
#The Train Accuracy score
model.score(X_train, y_train)

1.0

In [ ]:
#As you can see from the above results:
#It seems that the model is overfitting the train accuracy (larger than 10%)
#This indicates that the model will require some tuning to reduce the gap

In [33]:
#For the Mean Standard Error
MSE = mean_squared_error(y_test, y_pred)

print(MSE)

0.21666666666666667

In [ ]:
#The above MSE score is a .22 which is fairly high considering our target varible only ranges from 1 to 0
#This also indicates that our model needs to be tuned some more.